In [38]:
import pandas as pd
import numpy as np
from scipy import stats
import scipy

## Коэффициенты корреляции тестовый тест

№4 

Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

illiteracy.txt

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [3]:
data = pd.read_csv('illiteracy.txt', sep = '\t')
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [5]:
data.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [12]:
il_pearsonr = stats.pearsonr(data['Illit'], data['Births'])
il_pearsonr

(0.7686630271151789, 1.5029095259924921e-19)

In [8]:
data.corr(method = 'spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

## Тест Корреляционный анализ

№1 +

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

water.txt

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [13]:
data = pd.read_csv('water.txt', sep='\t')
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [16]:
pearsonr = stats.pearsonr(data['hardness'], data['mortality'])
pearsonr

(-0.6548486232042465, 1.033133926034952e-08)

№2 +

В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [15]:
spearman = stats.spearmanr(data['mortality'], data['hardness'])
spearman

SpearmanrResult(correlation=-0.6316646189166502, pvalue=4.79546153722838e-08)

№3 +

Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [20]:
data_south = data[data.location == 'South']
data_north = data[data.location == 'North']

In [25]:
pearsonr_south = stats.pearsonr(data_south['hardness'], data_south['mortality'])
pearsonr_north = stats.pearsonr(data_north['hardness'], data_north['mortality'])

print (pearsonr_south, pearsonr_north)
min(np.abs(pearsonr_south[0]), np.abs(pearsonr_north[0]))

(-0.6021532715484158, 0.0011346743048161923) (-0.36859783832887183, 0.029344659047110602)

0.36859783832887183

№4 +

Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

In [48]:
bar = np.array([[203.,239.],[718.,515.]])

In [28]:
def matthewsr(a,b,c,d):
    return (a*d - b*c)/np.sqrt((a+b)*(c+d)*(a+c)*(b+d))

In [36]:
corr_mattew = matthewsr(*bar.flatten())
corr_mattew

-0.10900237458678963

№5 +

В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля. Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры (например, если вы получили 5.5×10−8, нужно ввести 8).

In [41]:
scipy.stats.chi2_contingency(bar)[1]

1.0558987006638725e-05

№6 +

В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [61]:
def proportions_diff_confint_ind(sample1, sample2, alpha = 0.05):    
    z = stats.norm.ppf(1 - alpha / 2.)

    p1 = sample1[0] / np.sum(sample1)
    p2 = sample2[0] / np.sum(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ np.sum(sample1) + p2 * (1 - p2)/ np.sum(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ np.sum(sample1) + p2 * (1 - p2)/ np.sum(sample2))
    
    return (left_boundary, right_boundary)

In [62]:
women = bar[:,0]
men = bar[:,1]
proportions_diff_confint_ind(men,women)

(0.053905233215813156, 0.13922183141523897)

№7 +

Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры (например, если вы получили 5.5×10−8, нужно ввести 8).

In [66]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = np.sum(sample1)
    n2 = np.sum(sample2)
    
    p1 = sample1[0] / n1
    p2 = sample2[0] / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [64]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - stats.norm.cdf(z_stat)

In [67]:
print("p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(women, men)))

p-value: 0.000008

№ 8 +

Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"

                  Не доволен Более или менее	Доволен

Не очень счастлив	197	111	33

Достаточно счастлив	382	685	331

Очень счастлив	110	342	333

Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

In [69]:
happy = np.array([[197., 111., 33.],
                 [382., 685., 331.],
                 [110., 342., 333]])

In [71]:
stats.chi2_contingency(happy)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

№ 9 +

На данных из предыдущего вопроса посчитайте значение достигаемого уровня значимости. Введите номер первой значащей цифры (например, если вы получили 5.5×10−8, нужно ввести 8).

In [72]:
stats.chi2_contingency(happy)[1]

2.4964299580093467e-62

№10 +

Чему в предыдущей задаче равно значение коэффициента V Крамера для рассматриваемых признаков? Округлите ответ до четырёх знаков после десятичной точки.

In [74]:
def cramers_stat(confusion_matrix):
    chi2 = stats.chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum()
    return np.sqrt(chi2 / (n*(min(confusion_matrix.shape)-1)))

In [75]:
cramers_stat(happy)

0.2412013934500338