In [1]:
import numpy as np
import pandas as pd

import scipy
from statsmodels.stats.weightstats import *

from sklearn import ensemble, model_selection, metrics 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
from matplotlib import pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [8]:
# №4 train test
n = 160 
sigma = 0.4
mu0 = 9.5
mu1 = 9.57
t = (mu1 - mu0)/(sigma / n ** 0.5)
2 - 2 * stats.t.cdf(t,mu0)
2 - 2 * stats.norm.cdf(t)

0.026856695507523787

In [11]:
data = pd.read_csv('diamonds.txt', sep ='\t')
data

       carat  depth  table  price     x     y     z
0       0.23   61.5   55.0    326  3.95  3.98  2.43
1       0.21   59.8   61.0    326  3.89  3.84  2.31
2       0.23   56.9   65.0    327  4.05  4.07  2.31
3       0.29   62.4   58.0    334  4.20  4.23  2.63
4       0.31   63.3   58.0    335  4.34  4.35  2.75
...      ...    ...    ...    ...   ...   ...   ...
53935   0.72   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 7 columns]

In [14]:
X = data.drop('price', 1)
y = data['price']
print (X,'\n', y)

       carat  depth  table     x     y     z
0       0.23   61.5   55.0  3.95  3.98  2.43
1       0.21   59.8   61.0  3.89  3.84  2.31
2       0.23   56.9   65.0  4.05  4.07  2.31
3       0.29   62.4   58.0  4.20  4.23  2.63
4       0.31   63.3   58.0  4.34  4.35  2.75
...      ...    ...    ...   ...   ...   ...
53935   0.72   60.8   57.0  5.75  5.76  3.50
53936   0.72   63.1   55.0  5.69  5.75  3.61
53937   0.70   62.8   60.0  5.66  5.68  3.56
53938   0.86   61.0   58.0  6.15  6.12  3.74
53939   0.75   62.2   55.0  5.83  5.87  3.64

[53940 rows x 6 columns]
 0         326
1         326
2         327
3         334
4         335
         ...
53935    2757
53936    2757
53937    2757
53938    2757
53939    2757
Name: price, Length: 53940, dtype: int64

In [15]:
(X_train, X_test, y_train, y_test) = train_test_split(X, y, test_size=0.25, random_state=1)

In [19]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
forest_clsf = ensemble.RandomForestRegressor(random_state = 0)
forest_clsf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [22]:
lin_pred = lin_reg.predict(X_test)
lin_diff = lin_pred - y_test
lin_diff.describe()

count    13485.000000
mean        19.229235
std       1463.058136
min     -12455.940789
25%       -342.670547
50%         63.649682
75%        652.518106
max      18239.846360
Name: price, dtype: float64

In [35]:
forest_pred = forest_clsf.predict(X_test)
forest_diff = forest_pred - y_test
forest_diff.describe()

count    13485.000000
mean        50.021504
std       1362.442831
min     -13970.120000
25%       -234.590000
50%         41.640000
75%        404.140000
max       8639.890000
Name: price, dtype: float64

In [28]:
stats.ttest_rel((lin_diff), (forest_diff))

Ttest_relResult(statistic=-3.987194661831059, pvalue=6.721171713140225e-05)

In [46]:
print("95%% confidence interval: [%f, %f]" % DescrStatsW(np.abs(lin_diff) - np.abs(forest_diff)).tconfint_mean())

95% confidence interval: [-120.781448, -96.635041]

In [26]:
-10

3.3333333333333335

## Тест Параметрические критерии

№ 3 +

В одном из выпусков программы "Разрушители легенд" проверялось, действительно ли заразительна зевота. В эксперименте участвовало 50 испытуемых, проходивших собеседование на программу. Каждый из них разговаривал с рекрутером; в конце 34 из 50 бесед рекрутер зевал. Затем испытуемых просили подождать решения рекрутера в соседней пустой комнате.

Во время ожидания 10 из 34 испытуемых экспериментальной группы и 4 из 16 испытуемых контрольной начали зевать. Таким образом, разница в доле зевающих людей в этих двух группах составила примерно 4.4%. Ведущие заключили, что миф о заразительности зевоты подтверждён.

Можно ли утверждать, что доли зевающих в контрольной и экспериментальной группах отличаются статистически значимо? Посчитайте достигаемый уровень значимости при альтернативе заразительности зевоты, округлите до четырёх знаков после десятичной точки.

In [53]:
from statsmodels.stats.proportion import proportion_confint

In [50]:
data_exp = np.array([1] * 10 + [0] * 24)
data_control = np.array([1] * 4 + [0] * 12)
print (data_exp)
print (data_control)

[1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
[1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0]

In [55]:
conf_exp = proportion_confint(sum(data_exp),len(data_exp), method = 'wilson')
conf_control = proportion_confint(sum(data_control), len(data_control), method = 'wilson')

In [57]:
print('95%% confidence interval for a click probability, experimental part [%f, %f]' % conf_exp)
print('95%% confidence interval for a click probability, control part [%f, %f]' % conf_control)

95% confidence interval for a click probability, experimental part [0.168346, 0.461689]
95% confidence interval for a click probability, control part [0.101821, 0.494983]

In [58]:
def proportions_diff_confint_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [59]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [62]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - stats.norm.cdf(z_stat)

In [66]:
print("95%% confidence interval for a difference between proportions: [%f, %f]" %\
      proportions_diff_confint_ind(data_exp, data_control))
print("p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(data_exp, data_control), 'greater'))

95% confidence interval for a difference between proportions: [-0.217558, 0.305793]
p-value: 0.372930

№ 4 +
№ 5 -

Имеются данные измерений двухсот швейцарских тысячефранковых банкнот, бывших в обращении в первой половине XX века. Сто из банкнот были настоящими, и сто — поддельными.

Загрузите данные:banknotes.txt

Отделите 50 случайных наблюдений в тестовую выборку с помощью функции sklearn.cross_validation.train_test_split (зафиксируйте random state = 1). На оставшихся 150 настройте два классификатора поддельности банкнот: логистическая регрессия по признакам X_1,X_2,X_3; логистическая регрессия по признакам X_4,X_5,X_6X.

Каждым из классификаторов сделайте предсказания меток классов на тестовой выборке. Одинаковы ли доли ошибочных предсказаний двух классификаторов? Проверьте гипотезу, вычислите достигаемый уровень значимости. Введите номер первой значащей цифры (например, если вы получили 5.5×10−8, нужно ввести 8).

In [77]:
from sklearn.linear_model import LogisticRegression

In [68]:
data = pd.read_csv('banknotes.txt', sep = '\t')
data

        X1     X2     X3    X4    X5     X6  real
0    214.8  131.0  131.1   9.0   9.7  141.0     1
1    214.6  129.7  129.7   8.1   9.5  141.7     1
2    214.8  129.7  129.7   8.7   9.6  142.2     1
3    214.8  129.7  129.6   7.5  10.4  142.0     1
4    215.0  129.6  129.7  10.4   7.7  141.8     1
..     ...    ...    ...   ...   ...    ...   ...
195  215.0  130.4  130.3   9.9  12.1  139.6     0
196  215.1  130.3  129.9  10.3  11.5  139.7     0
197  214.8  130.3  130.4  10.6  11.1  140.0     0
198  214.7  130.7  130.8  11.2  11.2  139.4     0
199  214.3  129.9  129.9  10.2  11.5  139.6     0

[200 rows x 7 columns]

In [73]:
x = data.drop('real', 1)
y= data['real']

In [74]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=1)

In [110]:
x123 = ['X1','X2','X3']
clsf_log1 = LogisticRegression()
clsf_log1.fit(x_train[x123], y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [111]:
x456 = ['X4','X5','X6']
clsf_log2 = LogisticRegression()
clsf_log2.fit(x_train[x456], y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [112]:
pred_123 = clsf_log1.predict(x_test[x123].values)
pred_456 = clsf_log2.predict(x_test[x456].values)

In [113]:
print('Error rate pred123: %f' % (1 - accuracy_score(y_test, pred_123)))
print('Error rate pred456: %f' % (1 - accuracy_score(y_test, pred_456)))
err123 = np.array([1 if pred_123[i] == y_test.values[i] else 0 for i in range(len(y_test))])
err456 = np.array([1 if pred_456[i] == y_test.values[i] else 0 for i in range(len(y_test))])

Error rate pred123: 0.200000
Error rate pred456: 0.020000

In [114]:
print(err123,'\n',err456)

[1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 0 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1
 0 0 1 0 1 1 1 1 0 1 0 1 1]
 [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 1 1 1 1 1 1 1 1 1]

In [115]:
print("95%% confidence interval for a difference between proportions: [%f, %f]" %\
      proportions_diff_confint_ind(err123, err456))
print("p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(err123, err456)))

95% confidence interval for a difference between proportions: [-0.297467, -0.062533]
p-value: 0.004022

№6 +

Ежегодно более 200000 людей по всему миру сдают стандартизированный экзамен GMAT при поступлении на программы MBA. Средний результат составляет 525 баллов, стандартное отклонение — 100 баллов.

Сто студентов закончили специальные подготовительные курсы и сдали экзамен. Средний полученный ими балл — 541.4. Проверьте гипотезу о неэффективности программы против односторонней альтернативы о том, что программа работает. Отвергается ли на уровне значимости 0.05 нулевая гипотеза? Введите достигаемый уровень значимости, округлённый до 4 знаков после десятичной точки.

In [104]:
avg_mark = 541.4
avg_mark_data = np.ones(100) * avg_mark

In [105]:
exp_mark = 525.0
sigma = 100

In [108]:
z = (avg_mark - exp_mark)/(sigma / np.sqrt(len(avg_mark_data)))
p_value = 1 - stats.norm.cdf(z)
p_value

0.05050258347410397

№7 +

Оцените теперь эффективность подготовительных курсов, средний балл 100 выпускников которых равен 541.5. Отвергается ли на уровне значимости 0.05 та же самая нулевая гипотеза против той же самой альтернативы? Введите достигаемый уровень значимости, округлённый до 4 знаков после десятичной точки.

In [109]:
avg_mark = 541.5
z = (avg_mark - exp_mark)/(sigma / np.sqrt(len(avg_mark_data)))
p_value = 1 - stats.norm.cdf(z)
p_value

0.0494714680336481

# Тест непараметрические методы

№ 4 Критерий знаков +

Давайте вернёмся к данным выживаемости пациентов с лейкоцитарной лимфомой из видео про критерий знаков:

49, 58, 75, 110, 112, 132, 151, 276, 281, 362*

Измерено остаточное время жизни с момента начала наблюдения (в неделях); звёздочка обозначает цензурирование сверху — исследование длилось 7 лет, и остаточное время жизни одного пациента, который дожил до конца наблюдения, неизвестно.

Поскольку цензурировано только одно наблюдение, для проверки гипотезы H0:medX=200 на этих данных можно использовать критерий знаковых рангов — можно считать, что время дожития последнего пациента в точности равно 362, на ранг этого наблюдения это никак не повлияет.

Критерием знаковых рангов проверьте эту гипотезу против двусторонней альтернативы, введите достигаемый уровень значимости, округлённый до четырёх знаков после десятичной точки.

In [3]:
from scipy import stats
from statsmodels.stats.descriptivestats import sign_test
from statsmodels.stats.weightstats import zconfint

In [4]:
data = np.array([49, 58, 75, 110, 112, 132, 151, 276, 281, 362])
print ("M: %d, p-value: %f" % sign_test(data, 0.5))

M: 5, p-value: 0.001953

In [6]:
m0 = 200
stats.wilcoxon(data - m0)

WilcoxonResult(statistic=17.0, pvalue=0.2845026979112075)

№ 5 +

В ходе исследования влияния лесозаготовки на биоразнообразие лесов острова Борнео собраны данные о количестве видов деревьев в 12 лесах, где вырубка не ведётся:

22, 22, 15, 13, 19, 19, 18, 20, 21, 13, 13, 15

и в 9 лесах, где идёт вырубка:

17, 18, 18, 15, 12, 4, 14, 15, 10

Проверьте гипотезу о равенстве среднего количества видов в двух типах лесов против односторонней альтернативы о снижении биоразнообразия в вырубаемых лесах. Используйте ранговый критерий. Чему равен достигаемый уровень значимости? Округлите до четырёх знаков после десятичной точки.

In [8]:
non_cut = np.array([22, 22, 15, 13, 19, 19, 18, 20, 21, 13, 13, 15])
cut = np.array([17, 18, 18, 15, 12, 4, 14, 15, 10])
non_cut.mean()
cut.mean()

13.666666666666666

In [10]:
stats.mannwhitneyu(non_cut, cut,alternative='greater')

MannwhitneyuResult(statistic=81.0, pvalue=0.02900499272087373)

№6 +

28 января 1986 года космический шаттл "Челленджер" взорвался при взлёте. Семь астронавтов, находившихся на борту, погибли. В ходе расследования причин катастрофы основной версией была неполадка с резиновыми уплотнительными кольцами в соединении с ракетными ускорителями. Для 23 предшествовавших катастрофе полётов "Челленджера" известны температура воздуха и появление повреждений хотя бы у одного из уплотнительных колец.

challenger.txt

С помощью бутстрепа постройте 95% доверительный интервал для разности средних температур воздуха при запусках, когда уплотнительные кольца повреждались, и запусках, когда повреждений не было. Чему равна его ближайшая к нулю граница? Округлите до четырёх знаков после запятой.

Чтобы получить в точности такой же доверительный интервал, как у нас:

установите random seed = 0 перед первым вызовом функции get_bootstrap_samples, один раз
сделайте по 1000 псевдовыборок из каждой выборки.

In [14]:
data = pd.read_csv('сhallenger.txt', sep = '\t')
data.head()

  Unnamed: 0  Temperature  Incident
0   Apr12.81         18.9         0
1   Nov12.81         21.1         1
2   Mar22.82         20.6         0
3   Nov11.82         20.0         0
4   Apr04.83         19.4         0

In [49]:
broken = data[data['Incident']  == 1].Temperature.values
broken

array([21.1, 13.9, 17.2, 21.1, 11.7, 23.9, 14.4])

In [48]:
not_broken = data[data['Incident']  == 0].Temperature.values
not_broken

array([18.9, 20.6, 20. , 19.4, 22.2, 22.8, 21.1, 25.6, 19.4, 19.4, 23.9,
       21.1, 27.2, 24.4, 26.1, 24.4])

In [18]:
def get_bootstrap_samples(data, n_samples):
    indices = np.random.randint(0, len(data), (n_samples, len(data)))
    samples = data[indices]
    return samples
def stat_intervals(stat, alpha):
    boundaries = np.percentile(stat, [100 * alpha / 2., 100 * (1 - alpha / 2.)])
    return boundaries

In [42]:
not_broken_bs = get_bootstrap_samples(not_broken['Temperature'].values, 1000)
broken_bs = get_bootstrap_samples(broken['Temperature'].values, 1000)

not_broken_bs_mean = not_broken_bs.mean(axis=1)
broken_bs_mean =broken_bs.mean(axis=1)

17.6334

In [71]:
np.random.seed(0)
broken_bs = map(np.mean, get_bootstrap_samples(broken, 1000))
not_broken_bs = map(np.mean, get_bootstrap_samples(not_broken, 1000))

delta_scores = list(map(lambda x: x[1] - x[0], zip(not_broken_bs, broken_bs)))
print ("95% confidence interval for the difference between medians",  stat_intervals(delta_scores, 0.05))

95% confidence interval for the difference between medians [-8.06457589 -1.45040179]

№ 7 +

На данных предыдущей задачи проверьте гипотезу об одинаковой средней температуре воздуха в дни, когда уплотнительный кольца повреждались, и дни, когда повреждений не было. Используйте перестановочный критерий и двустороннюю альтернативу. Чему равен достигаемый уровень значимости? Округлите до четырёх знаков после десятичной точки.

Чтобы получить такое же значение, как мы:

установите random seed = 0;
возьмите 10000 перестановок.

In [72]:
def permutation_t_stat_ind(sample1, sample2):
    return np.mean(sample1) - np.mean(sample2)

In [73]:
def get_random_combinations(n1, n2, max_combinations):
    index = list(range(n1 + n2))
    indices = set([tuple(index)])
    for i in range(max_combinations - 1):
        np.random.shuffle(index)
        indices.add(tuple(index))
    return [(index[:n1], index[n1:]) for index in indices]

In [74]:
def permutation_zero_dist_ind(sample1, sample2, max_combinations = None):
    joined_sample = np.hstack((sample1, sample2))
    n1 = len(sample1)
    n = len(joined_sample)
    
    if max_combinations:
        indices = get_random_combinations(n1, len(sample2), max_combinations)
    else:
        indices = [(list(index), list(filter(lambda i: i not in index, range(n)))) \
                    for index in itertools.combinations(range(n), n1)]
    
    distr = [joined_sample[list(i[0])].mean() - joined_sample[list(i[1])].mean() \
             for i in indices]
    return distr

In [75]:
def permutation_test(sample, mean, max_permutations = None, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    t_stat = permutation_t_stat_ind(sample, mean)
    
    zero_distr = permutation_zero_dist_ind(sample, mean, max_permutations)
    
    if alternative == 'two-sided':
        return sum([1. if abs(x) >= abs(t_stat) else 0. for x in zero_distr]) / len(zero_distr)
    
    if alternative == 'less':
        return sum([1. if x <= t_stat else 0. for x in zero_distr]) / len(zero_distr)

    if alternative == 'greater':
        return sum([1. if x >= t_stat else 0. for x in zero_distr]) / len(zero_distr)

In [77]:
np.random.seed(0)
print("p-value: %f" % permutation_test(broken, not_broken, max_permutations = 10000))

p-value: 0.005700