In [11]:
import pandas as pd
import numpy as np
import collections
from collections import Counter

In [18]:
train = pd.read_csv('train.txt', sep=';')
test = pd.read_csv('test.txt', sep=';')
train
test

                                                   visit perchase
0                                                  6,7,8      NaN
1                                               13,14,15      NaN
2                                                  22,23      NaN
3                                      28,29,30,31,32,33      NaN
4                                                  40,41      NaN
...                                                  ...      ...
49995                                  37637,18363,18131      NaN
49996  35402,10150,35402,10150,35402,88962,49526,3540...      NaN
49997           161,1345,161,1345,161,1345,161,30853,161      NaN
49998                                  26236,16572,26236      NaN
49999                         80626,102807,102808,102809      NaN

[50000 rows x 2 columns]